<div class="pg">

<div class="container">
    <div class="row">
      <div class="col-sm">
            <img src="assets/wallet.svg" width="150" height="150">
            <h3 routerLink="loan">Loan</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
      <div class="col-sm">
        <img src="assets/cart.svg" width="150" height="150">
        <h3>Online Shoppings</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
      <div class="col-sm">
        <img src="assets/card.svg" width="150" height="150">
        <h3>Credit / Debit Cards</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
  </div>

</div>