

<div class="row">
    <div class="col col1" style="background-color:lavender;">
        <h1>Anyone, anywhere, </h1>
        <h1>can start a business.</h1>

        <input><button>Start a Free Trail</button>
        <p>Try Space free for 14 days, no credit card required. By entering your email, you agree to receive marketing emails from Space.</p>
    
    
    
    
    
    
    </div>
   
    <div class="col" style="background-color:lavender;">
    <img src="assets/img1.jpg">
    </div>
  </div>

<h1 class="con2">Take the best path forward</h1>
  <h3 class="con21">Actionable strategies and business marketing advice help you to grow faster.</h3>



  <div class="row ">
    <div class="col row2" style="background-color:lavender;">
        <span class="glyphicon glyphicon-briefcase" ></span>
        <p>Create a business with Space, whether you’ve got a fresh idea or looking for a new way to make money.</p>
        <a href="#">Learn about our services</a>
    </div>
    <div class="col row2" style="background-color:lavender;">
        <span class="glyphicon glyphicon-briefcase"></span>
        <p>Turn your retail store into an online store and keep serving customers without missing a beat.</p>
        <a href="#">Learn about our services</a>
      </div>
    <div class="col row2" style="background-color:lavender;">
        <span class="glyphicon glyphicon-briefcase"></span>
        <p>Bring your business to Space, no matter which business platform you’re currently using, we’ve got it all.</p>
        <a href="#">Learn about our services</a>
      </div>
  </div>

  <div class="con3">
    <img src="assets/hi-five.png">
    <h1>Start your business journey with Space</h1>
    <h4>Try Space for free, and explore all the tools and services you need to start, run, and grow your business.</h4>
    <button>Start a Free Trail</button>
    <br>
    <br>
  </div>