 
      <div class="greencon">
        <div class="grenconlf">
           <h1>Solving Problems for Every team.</h1>
           <p>Built on standard web technology, teams use Space to build beautiful cross-platform hybrid apps in a fraction of the time.</p>
      
           <div class="mesg">
            <table>
      
              <tr>
                <th rowspan="2"><i class="fa fa-comments" style="font-size:50px;color:white"></i></th>
                <td class="td1">24 Hours</td>
              </tr>
              <tr>
                <td class="td2">Response Time</td>
              </tr>
            </table>
           </div>
           <div class="s">
            <table>
      
              <tr>
                <th rowspan="2"><i class="fa fa-comments" style="font-size:50px;color:white"></i></th>
                <td class="td1">24 Hours</td>
              </tr>
              <tr>
                <td class="td2">Response Time</td>
              </tr>
            </table>
           </div>
           
        </div>
        
      
        
        
      
      </div>
 

      <div class="con1">
        <h1>The powerful and flexible theme for all</h1>
        <h1>kinds of businesses</h1>

      </div>



      <div class="con2">
        <div class="con2_1">
          <span class="glyphicon glyphicon-envelope"></span>
          <h2>Cross platforms</h2>
          <p>Space offers native notification support for iOS, Android and web, so you can reach your users wherever they are</p>
          <a class="a2_1">Learn cross platform </a>

        </div>
        <div class="con2_1">
          <span class="glyphicon glyphicon-envelope"></span>
          <h2>Scalable delivery</h2>
          <p>Broadcast information to unlimited subscribed devices using Device Interests, with 1 million+ messages per minute on every platform</p>
          <a class="a2_1">Learn scalable delivery </a>
        </div>
        <div class="con2_1">
          <span class="glyphicon glyphicon-envelope"></span>
          <h2>Security</h2>
          <p>Broadcast information to unlimited subscribed devices using Device Interests, with 1 million+ messages per minute on every platform</p>
          <a class="a2_1">Learn security </a>
        </div>
        <div class="con2_1">
          <span class="glyphicon glyphicon-envelope"></span>
          <h2>Insights</h2>
          <p>Broadcast information to unlimited subscribed devices using Device Interests, with 1 million+ messages per minute on every platform</p>
          <a class="a2_1">Learn insights </a>
        </div>


      </div>


      
  <div class="con3">
    <img src="assets/hi-five.png">
    <h1>Start your business journey with Space</h1>
    <h4>Try Space for free, and explore all the tools and services you need to start, run, and grow your business.</h4>
    <button>Start a Free Trail</button>
    <br>
    <br>
  </div>


  <app-c1></app-c1>
  <app-c2></app-c2>