<div class="loan">
  <marquee> <h1>Click any one of the  below options</h1></marquee>
    <ul>
        <li routerLink="loancalc"><span class="glyphicon glyphicon-chevron-right"></span>Loan calulator</li>
        <li><span class="glyphicon glyphicon-chevron-right"></span>EMI calulator</li>
        <li><span class="glyphicon glyphicon-chevron-right"></span>Pay loan online</li>
        <li  routerLink="deposit"><span class="glyphicon glyphicon-chevron-right"></span>Deposit</li>
        <li><span class="glyphicon glyphicon-chevron-right"></span>Connect with agent</li>

    </ul>

</div>