<div class="loancalculator">
    <h1>Online Maturity Calculator for Fixed & Recursion Deposit</h1>

    <div>
       
        <input class="radio" (change)="check($event)" type="radio" name="a" id="Recursion" value=6.5><a>Recursion Deposit</a>
        <input class="radio" (change)="check($event)" type="radio" name="a" id="Fixed" value=10.50> <a>Fixed Deposit</a><br><br>

            <input type="number" #phone placeholder="Enter the Principle Amount"><br><br>
            <input type="number"#tenure [placeholder]="Loan"><br><br>
            <input placeholder="Interest Rate" value={{check1}}><br><br>



            <!---<select (change)="selected($event)" >
                <option  disabled  value="0">Select Loan</option>
                <option value=10.5 >Personal Loan</option>
                <option value=6.50>Home Loan</option>
                <option value=9>Vehicle Loan</option>
                <option value=6.85>Education Loan</option>
            </select><br><br> -->
            <button (click)="calculate(phone.value,tenure.value)" >Calculate</button>
            <h3>{{recuIntrest}}{{check1}}</h3>
            <h3>{{result}}{{intrest}}</h3>
            <h3>{{result1}}{{total}}</h3>

            <br>
            
         

    </div>

</div>